<template>
  <v-expansion-panels focusable class="panels my-10 pa-10">
    <h1 class="my-5">TECHNOLOGIES EXPERIENCE</h1>
    <v-expansion-panel>
      <v-expansion-panel-header  class="red accent-3 title font-weight-bold">HTML</v-expansion-panel-header>
      <v-expansion-panel-content  class="red accent-1 font-weight-black"    align="center" >
        TAGS  —  META TAG  —  SEO  — HREF  — INPUTS  —  ETC...
      </v-expansion-panel-content>
    </v-expansion-panel>

      <v-expansion-panel>
      <v-expansion-panel-header class="blue accent-4 title font-weight-bold">CSS</v-expansion-panel-header>
      <v-expansion-panel-content class="blue accent-1 font-weight-black" align="center">
        FLEX  —  GRID  — MOVIL FIRST OR RESPONSIVE DESIGN — BORDERS  — POSITIONS  — CURSORS  — ANIMATIONS  — VARIABLES  — ETC...
      </v-expansion-panel-content>
    </v-expansion-panel>

      <v-expansion-panel >
      <v-expansion-panel-header class="yellow accent-2 title font-weight-bold">JAVASCRIPT</v-expansion-panel-header>
      <v-expansion-panel-content class="yellow accent-1 font-weight-black" align="center" >
        VARIABLES  —  ARRAYS  — ARRAY OBJECT — ARRAY METHODS  — CONCAT  — CONDITIONALS  — FUNCTIONS  — OOP  — MATH OBJECT  — CONSOLE  — DOM  — ELEMENTS  — EVENTS  — TIMERS  — TRY AND CATCH —  CALLBACKS  — PROMISES — AWAIT AND ASYNC  — REQUEST HTTP  — FETCH  — JSON —  ETC... 
      </v-expansion-panel-content>
    </v-expansion-panel>

      <v-expansion-panel>
      <v-expansion-panel-header class="green accent-3 title font-weight-bold" >VUE.JS</v-expansion-panel-header>
      <v-expansion-panel-content class="green accent-1 font-weight-black" align="center">
        DIRECTIVES AND THEIR'S SHORTHANDS — DECLARATIVE RENDERING  — LIFE CICLES  —  EVENTS  —  COMPONENTS  — TEMPLATES  — FOLDERS  — VUE-ROUTER  — VUEX  — REQUEST HTTP  — VUE-DEVTOOLS — VUETIFY — DEPENDENCIES  — NUXT.JS  —  ETC...
      </v-expansion-panel-content>
    </v-expansion-panel>

    <v-expansion-panel>
      <v-expansion-panel-header class="grey darken-3 title font-weight-bold">TOOLS</v-expansion-panel-header>
      <v-expansion-panel-content class="grey darken-2 font-weight-black " align="center">
        NPM/YARN  —  GIT —  PRETTIER  —  CYPRESS  — WEBPACK  — BABEL  — GITHUB  — VSCODE  — ETC...
      </v-expansion-panel-content>
    </v-expansion-panel>

     <v-expansion-panel>
      <v-expansion-panel-header class="purple darken-3 title font-weight-bold">EROS BURASTERO</v-expansion-panel-header>
      <v-expansion-panel-content class="purple lighten-1 font-weight-black " align="center">
        JUNIOR FRONT-END DEVELOPER — LANGUAGES: ENGLISH (B2 AND IMPROVING)  — SPANISH (NATIVE)  — RUSSIAN (B2)  — ITALIAN (B1)  
      </v-expansion-panel-content>
    </v-expansion-panel>




  </v-expansion-panels>
</template>

<script>
  export default {
    data () {
      return {
    
      }
    },
  }
</script>

<style scoped>

.v-expansion-panel-content{
   font-family: 'Staatliches', cursive;
   font-size: 1.5em;
}

 h1{
      font-family: 'Mochiy Pop P One', sans-serif;
    }



</style>